body {
  background-color: pink;
}
nav li {
  display: inline-block;
  background-color: purple;
  padding: 20px;
  margin: 10px;
  color: Lightblue;
  background-color: purple;
  text-decoration: none;
}
